.overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9998;
}

input {
  all: unset;
}

.modal {
  grid-template-rows: auto 1fr;
  position: fixed;
  display: grid;
  top: 50%;
  left: 50%;
  width: 50vw;
  min-height: 50vh;
  transform: translate3d(-50%, -50%, 0);
  z-index: 9999;
  background-color: #fff;
  transition: all 0.5s;
  padding: 2rem;
  &__close {
    display: flex;
    justify-content: flex-end;
    & button {
      width: 1.2rem;
      height: 1.2rem;
      padding: 1rem;
      border-radius: 50%;
      font-size: 3rem;
      background-color: #f1f1f1;
      @include flex-center;
    }
  }
  &__heading {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    @include flex-center;
    & span {
      color: #00c590;
      font-size: 5rem;
      font-weight: 600;
      font-style: inherit;
      margin-right: 0.5rem;
    }
  }
  &__content {
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
  }
  &__form {
    @include flex-center;
    flex-direction: column;
    & label {
      margin-bottom: 0.6rem;
    }
  }
  &__input {
    padding: 1rem;
    border: 1px solid $color-grey-light-2;
    color: $color-primary;
    margin-bottom: 2rem;
    &::placeholder {
      color: $color-grey-light-2;
    }
    &:focus {
      border: 1px solid $color-grey-dark-1;
    }
  }
}

.suggestions {
  position: absolute;
  width: 21.15rem;
  top: 43.6%;
  background-color: $color-grey-light-1;
  list-style: none;
  &__item {
    border: 1px solid $color-grey-light-2;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background-color: $color-grey-light-2;
    }
  }
}

.notification {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.hamburger {
  display: grid;
  padding: 2rem;
  grid-template-rows: auto 1fr;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-primary;
  transition: all 0.5s;
  &__close {
    display: flex;
    justify-content: flex-end;
    color: $color-primary;
    & button {
      width: 1.2rem;
      height: 1.2rem;
      padding: 1rem;
      border-radius: 50%;
      font-size: 3rem;
      background-color: #fff;
      @include flex-center;
    }
  }
  &__content {
    @include flex-center;
  }
}
